

<div class="nav mat-elevation-z6 ">
  <button mat-button [matMenuTriggerFor]="menuShuyki">Stuff's mat-comps</button>
  <mat-menu #menuShuyki="matMenu">
    <button mat-menu-item routerLink="stuff1">stuff1</button>
    <button mat-menu-item routerLink="stuff2">stuff2</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menuShuyki">something else</button>
  <mat-menu #menuShuyki="matMenu">
    <button mat-menu-item routerLink="stuff1">stuff1</button>
    <button mat-menu-item routerLink="stuff2">stuff2</button>
  </mat-menu>

</div>



<router-outlet></router-outlet>